.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking-hidden{
    display: none;
}
.burger{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    display: none;
}
.burger-line{
    width: 32px;
    height: 2px;
    background: black;
}
.nav-ul{
display:flex
}
.nav-blue{
    font-size: 32px;
    color: #2a90d9;
}
.nav-orange{
    font-size: 32px;
    color:#ee685f;
}
.nav-ul__li{
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
}
.nav-info{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.header-wrapper{
    background: url(/Images/Beach.png) no-repeat center/cover;
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 232px;
    border-radius: 20px;
}
.header-heading{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}
.header-description{
    font-size: 20px;
    font-weight: 500;
}
.header-booking{
    width: 450px;
    background: white;
    border-radius: 35px;
    margin: 0 auto;
    padding: 14px 15px 14px 57px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    top: -33px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
background: #fff;
}
.header-booking-box{
    display: flex;
    flex-direction: column;
}
.header-line{
    height: 40px;
    width: 1px;
    background: black;
    margin-left: 79px;
    margin-right: 52px;
}
.header-search__img{
    margin-left: 82px;
}
.header-booking-box{
    position: relative;
}

.header-booking-box::before{
    content: '';
    position: absolute;
    background: url(/Images/geo.png) no-repeat center/cover;
    width: 22px;
    height: 22px;
    left: -37px;
    top: 7px;
}
.booking-hidden{
    display: none;
}
.second{
    position: relative;
}

.second::before{
    content: '';
    position: absolute;
    background: url(/Images/calendar.png) no-repeat center/cover;
    width: 22px;
    height: 22px;
    left: -37px;
    top: 7px;
}
.choose-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 26px;
}
.choose-text{
    font-size: 18px;
    margin: 54px auto 0 auto;
    text-align: center;
    width: 570px;
}
.choose-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 54px;
}
.choose-cards-items{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-h5{
    font-size: 20px;
}
.choose-p{
    text-align: center;
}
.choose{
    background: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 70px;
}
.offers-title{
    font-size: 40px;
    text-align: center;
}
.offers-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offers-cards-title{
    font-size: 22px;
    font-weight: 500;
}
.offers-cards-desc{
    color: #858585;

}
.offers-cards-data{
    font-size: 18px;
}
.offers-cards-price{
    color: #2a90d9;
    font-size: 30px;
    font-weight: 500;
}
.offers-cards-price-count{
    font-size: 18px;
    color: #2a90d9;
}
.offers-cards-dopinfo{
    display: flex;
    align-items: center;
    column-gap: 21px;
}
.offers-cards-dopinfo-items{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.offers-cards-item{
    border: 1px solid #e7e6eb;
    border-radius: 12px;
    padding: 10px;
}
.review-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-cards-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    background: #f3f2f0;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-author{
    text-decoration: underline;
}
.footer-links{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
@media(max-width:376px){
    .nav-ul{
        display: none;
    }
    .nav-info__img:not(:last-child){
        display: none;
    }
    .nav-info__img{
        margin-left: 89px;
    }
    .burger{
        display: flex;
        margin-right: 48px;
    }
    .nav-wrapper{
        justify-content: none;
    }
    .header-heading{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .header-wrapper{
        padding: 32px 16px;
    }
    .header-description{
        font-size: 16px;
    }
    .second{
        display: none;
    }
    .header-line{
        display: none;
    }
    .header-booking{
        display: none;
        width: unset;
    }
    .booking-hidden{
        display: flex;
        position: static;
    }
    .choose-title{
        font-size: 28px;
    }
    .choose-text{
        width: unset;
        margin-top: 16px;
    }
    .choose-cards{
        margin: 48px 16px;
        flex-direction: column;
    }
    .choose-cards_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .choose-h5{
        margin: 0;
    }
    .choose{
        padding-top: 64px;
        padding-bottom: 16px;
    }
    .offers-title{
        font-size: 28px;
    }
    .offers-cards{
        flex-direction: column;
        row-gap: 16px;
    }
    .offers-cards-title{
        text-align: center;
    }
    .review-cards{
        flex-direction: column;
        row-gap: 16px;
    }
    .footer{
        flex-direction: column;
        padding:16px;
        align-items: flex-start;
    }
}